*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

li{
    list-style: none;
}

hr{
    color: #6b705c;
}

span{
    font-weight: bold;
}

/* Aqui comienza HEADER */

header{
    width: 100%;
    background-color: #118ab2;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 20px 20px 20px 80px;

}

header nav{
    display: flex;
    width: 700px;
    margin-left: 170px;
}

header nav li {
    margin: 0 15px;
    color: #ffffff;
}

header button{
    color: #ffffff;
    background-color: #f72585;
    border-radius: 1rem;
    padding: 8px;
    border-style: solid;
    border-color: #000000;
    border: 1rem;
    cursor: pointer;
}

/* Empieza la SECCION PRESENTACIÓN */

.presentación{
    background-color: #ffffff;
    width: 100%;

}
.presentación img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 350px;
    margin-top: 4rem;
    margin-left: 678px;
    
}

.presentación p{
    text-align: center;
    max-width: 800px;
    margin-left: 350px;
    margin-bottom: 20px;
    font-size: large;
    
}
.presentación button{
    width: 120px;
    margin-left: 699px;
    margin-bottom: 6rem;
    padding: 10px 6px;
    background-color: #ffffff;
    color: #118ab2;
    border-radius: 2rem;
    border-color: #118ab2;
    border-style: solid;
    cursor: pointer;

}

.presentación hr{
    width: 800px;
    height: 1px;
    background-color: #a5a58d;
    border: 0;
    margin-left: 368px;

}
/* Empieza la Seccion EXPERIENCIA LABORAL */

.experiencia{
    width: 700px;
    background-color:  #ffffff;
    margin-left: 418px;

}

.experiencia h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: x-large;
}

.experiencia hr{
    height: 1px;
    background-color: #dad7cd;
    border: 0;
    margin-bottom: 1rem;
}

.experiencia h6{
    font-weight: bold;
    color: #6b705c;
    margin-top: 4px;
}

.experiencia .exp{
    width: 684px;
    display: flex;
    justify-content: space-between;
}

.experiencia h5{
    background-color:  #118ab2; 
    color: #ffffff;
    display: inline;
    font-size: small;
    border-radius: 1rem;
    padding: 6px;
    font-size: 10px;
}
    
.experiencia h3{
    margin-bottom: 4px;
}
.experiencia p{
    color: #6b705c;
    margin-top: 16px;
    font-size: 14px;
}

/* Empieza la seccion EDUCACIÓN  */

.educación{
    width: 700px;
    background-color: #ffffff;
    margin-left: 418px;

}

.educación h2{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-size: x-large;
}

.educación hr{
    height: 1px;
    background-color: #dad7cd;
    border: 0;
    margin-bottom: 1rem;
    
}

.educación h3{
    margin-bottom: 4px;
}

.educación h6{
    font-weight: bold;
    color: #a5a58d;
    margin-top: 4px;
}
.educación .edu{
    width: 684px;
    display: flex;
    justify-content: space-between;
 
}
.educación h5{
    background-color:#80ed99;
    color: #ffffff;
    display: inline;
    border-radius: 1rem;
    padding: 6px;
    font-size: 10px;
}

.educación p{
    color: #6b705c;
    margin-top: 16px;
}
/* Aquí empieza las dos CARDS */

.habilidades{
    width: 700px;
    background-color:  #ffffff;
    margin-left: 418px;
    display: flex;
}

.habilidades .hab{
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    margin: 25px;
    box-shadow: 0 0 15px 0 #d6ccc2;
    padding-left: 4px;
}

.habilidades .cont{
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    margin: 25px;
    box-shadow: 0 0 15px 0 #d6ccc2;
    padding-left: 2px;

}

.hab h2{
    margin-left: 12px;
    margin-top: 12px;
}

.hab h5{
    margin-left: 12px;
}

.cont img{
    height: 20px ;
    width: 20px;
    margin-left: 12px;
}

.cont h2{
    margin-left: 12px;
    margin-top: 12px;
}

.cont .fecha {
    display: flex;
    height: 28px;
}

.cont .nombre {
    display: flex;
    height: 28px;
}

.cont .tel {
    display: flex;
    height: 28px;
}


.cont .mail {
    display: flex;
    height: 28px;
}


/* Aquí empieza la sección HOBBIES*/

.hobbies h2{
    text-align: center;
    font-size: x-large;
}

.hobbies p{
    text-align: center;
    width: 700px;
    margin-left: 408px;
    margin-bottom: 20px;
    color: #6b705c;
}

.hobbies hr {
    background-color: #dad7cd;
    height: 1px;
    border: 0;
}
 /* Aquí empieza el FOOTER */

 footer{
     margin-top: 5px;
     margin-left: 726px;
 }
 footer img{
     width: 35px;
     height: 35px;
     cursor: pointer;
}
