*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

li{
    list-style: none;
}

header{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 20px 20px 80px;

}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

main {
    margin: 0 auto;
    padding: 2rem;
    width: 40%;

}
.datos{
    background-color: aquamarine;
    max-width: 400px;
    max-height: 400px;
    justify-items: center;

}
.datos img{
    max-width: 300px;
    max-height: 300px;
    width: 50%;
   border-radius: 350px;
   padding: 30 auto;

}

.datos h1{
    display: inline;
}

.datos p{
    display: inline;
}